@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');



*{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

:root{
    --font1:"Passion One", sans-serif;;
    --font2: "Playwrite GB S", cursive;
    --font3:verdana, cursive;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
   
    font-family: var(--font1);
    background-color: black;
    text-align: center;
    color: white;
}


header p{
    padding-bottom: 50px;
}


header h1{
    font-size: 5vw;
    font-variant: small-caps;
    padding-top:50px;
}


header a, footer a{
    padding-right: 6px ;
    color:white;
    text-decoration: none;
}


header a:hover, footer a:hover{
    text-decoration: underline;
}


.normal{
    color: black;
    background-color: white;
}


.imagem{
    background-attachment: fixed;
    box-shadow: inset 2px 3px 3px #0000006b;
    background-color: rgb(54, 54, 54);
}
.imagem p{
    padding: 6px;
    width: 200px;
    color: white;
    background-color: #00000049;
}

.inline{
    display: inline;
}

#img01{
    background-image: url(../images/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
#img02{
    background-position: right center;
    background-size: cover;
    background-image: url(../images/imagens/background002.jpg);
}
section{
    font-family: var(--font2);
    font-size: 2.3vw;
    padding-left: 32px;
    text-indent: 14px;
    line-height: 2em;

    padding-top:10vh ;
    padding-bottom: 10vh;
}

footer{
    background-color: black;
    padding: 10px;
    color: white;

}

