table{
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 500px;
    border-collapse: collapse;
    background-attachment: fixed;
}
td, th{
    padding: 10px;
    border: 1px solid black;
}
.diferentColor{
    background-color: darkgray;
    color: #eeeeee;
}
caption{
    font-size: 22pt;
}